<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-facebook"
        version="1.0.0">
    <name>Facebook Cordova Plugin</name>
    <description></description>
    <license>Apache 2.0</license>
    <preference name="APP_ID" />
    <keywords>cordova,facebook</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-plugman" version=">=4.2.0"/>
    </engines>

    <js-module src="www/facebookcordovaplugin.js" name="FacebookCordovaPlugin">
        <merges target="facebookCordovaPlugin" />
    </js-module>

    <platform name="android">
        <!--
        <preference name="android-minSdkVersion" value="15" />
        <preference name="android-targetSdkVersion" value="23" />
        -->

        <config-file target="config.xml" parent="/*">
            <feature name="FacebookCordovaPlugin" >
                <param name="android-package" value="com.ferdinandsilva.facebook.FacebookCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="facebook_app_id">$APP_ID</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider android:authorities="com.facebook.app.FacebookContentProvider$APP_ID"
          android:name="com.facebook.FacebookContentProvider"
          android:exported="true" />
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
            <activity android:name="com.facebook.FacebookActivity"
              android:configChanges=
                     "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:label="@string/app_name" />
        </config-file>

        <framework src="src/android/fb.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/FacebookCordovaPlugin.java" target-dir="src/com/ferdinandsilva/facebook" />
    </platform>
</plugin>